/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Var */

:root {
  --primary-color: #0061ff;
  --secondary-color: #b4d0e7;
  --third-color: #61082b;
  --designit-color: #a2d39b;
  --designit-secondary-color: #d1e9cd;
  --asu-color: #61082b;
  --wbrelief-color: #d5001f;
  --uflorida-color: #0093ce;
  --topps-color: #ff1c1c;
  --lonplanet-color: #0d2481;
  --ccoutdoor-color: #ffd830;
}

/* Utils */

.debug {
  border: 1px solid red;
}

.container-big {
  max-width: 1200px;
  margin: 0 auto;
}
.container-small {
  max-width: 1000px;
  margin: 0 auto;
}

.w-30 {
  width: 30%;
}
.w-40 {
  min-width: 40%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  min-width: 60%;
}
.w-70 {
  min-width: 70%;
}

.col {
  width: calc(100% / 3);
}


.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.center-y {
  align-items: center;
}

.block {
  display: block;
}

/* .v-align {
  vertical-align: middle;
} */

/* .inline-block {
  display: inline-block;
} */

.btn {
  color: #fff;
  cursor: pointer;
  display: inline-block;
}

.btn-primary {
  background-color: var(--primary-color);
  padding: 8px 17px;
}

.btn-secondary {
  background-color: var(--primary-color);
  padding: 8px 17px;
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
}

.txt-center {
  text-align: center;
}

.border {
  border: 1px solid #d0d0d0;
}

.border-bottom {
  border-bottom: 1px solid #d0d0d0;
}

.blue {
  color: var(--primary-color);
}

.white {
  fill: #fff;
}

.underlined {
  text-decoration: underline;
}

.separator {
  width: 25%;
  background-color: #dedede;
  height: 1px;
}
/*  Margins */
.mx-5 {
  margin: 0 5px;
}

.mx-10 {
  margin: 0 10px;
}

.mx-20 {
  margin: 0 20px;
}

.mx-40 {
  margin: 0 40px;
}

.mr-5 {
  margin-right: 5px;
}

.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-50 {
  margin-left: 50px;
}

.m-10 {
  margin: 10px;
}

.my-10 {
  margin: 10px 0;
}
.my-20 {
  margin: 20px 0;
}

.my-40 {
  margin: 40px 0;
}

.my-50 {
  margin: 50px 0;
}
.my-70 {
  margin: 70px 0;
}

.mt-40 {
  margin-top: 40px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-150 {
  margin-bottom: 150px;
}

/* Padding */

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.px-20 {
  padding: 0 20px;
}

.p-40 {
  padding: 40px;
}

.p-80 {
  padding: 80px;
}

.py-40 {
  padding: 30px 0;
}
.py-70 {
  padding: 70px 0;
}

/* Generics */

body {
  font-family: "Open Sans", sans-serif;
  color: #000;
  background-color: #fff;
  padding-top: 80px;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
  display: inline-block;
}

img {
  width: 100%;
}

h1 {
  font-size: 5rem;
  font-weight: 800;
  padding: 70px 0;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

.radio-menu p {
  display: inline-block;
}

header {
  width: 100%;
  background-color: #fff;
}

#navbar {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

#logo {
  height: 26px;
  display: inline-block;
  vertical-align: middle;
}

.jumbotron {
  max-height: 755px;
  background-color: var(--secondary-color);
}

.fa-arrow-down {
  font-size: 3rem;
}

.radio-buttons {
  margin: 50px 0;
}

.radio-btn {
  background-color: #fff;
  width: 25px;
  height: 25px;
  box-shadow: 0px 0px 0px 2.5px #d0d0d0 inset;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.radio-btn.active {
  box-shadow: 0px 0px 0px 6.5px var(--primary-color) inset;
}

.box {
  height: 320px;
  width: 100%;
}

#designit {
  background-color: var(--designit-color);
}

#asu {
  background-color: var(--asu-color);
}

#wbrelief {
  background-color: var(--wbrelief-color);
}

#hearst {
  background-color: var(--secondary-color);
}

#uflorida {
  background-color: var(--uflorida-color);
}

#topps {
  background-color: var(--topps-color);
}

.wrap {
  flex-wrap: wrap;
}

#partners {
  max-height: 640px;
}