/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Var */

:root {
  --primary-color: #0061ff;
  --secondary-color: #b4d0e7;
  --third-color: #61082b;
  --designit-color: #a2d39b;
  --designit-secondary-color: #d1e9cd;
  --asu-color: #61082b;
  --wbrelief-color: #d5001f;
  --uflorida-color: #0093ce;
  --topps-color: #ff1c1c;
  --lonplanet-color: #0d2481;
  --ccoutdoor-color: #ffd830;
}

/* Utils */

.debug {
  border: 1px solid red;
}

.container-big {
  max-width: 1200px;
  margin: 0 auto;
}
.container-small {
  max-width: 1000px;
  margin: 0 auto;
}

.w-30 {
  min-width: 30%;
}
.w-40 {
  min-width: 40%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  min-width: 60%;
}
.w-70 {
  min-width: 70%;
}

.col {
  width: calc(100% / 3);
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.center-y {
  align-items: center;
}

.block {
  display: block;
}


/* Buttons */

.btn {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #4f93ff;
}

.btn-large {
  width: 100%;
}

.btn-small {
  padding: 5px 15px;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-secondary {
  background-color: var(--primary-color);
  background-color: #fff;
  color: #000;
}

.btn-border {
  border: 1px solid #000;
}

.btn-light {
  background-color: #fff;
  color: #000;
}

.btn-secondary:hover {
  color: #fff;
}

/* Backgrounds */

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-grey {
  background-color: #f5f5f5;
}



.txt-center {
  text-align: center;
}

/* Borders */

.border {
  border: 1px solid #d0d0d0;
}

.border-top-bottom {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}

.border-bottom {
  border-bottom: 1px solid #d0d0d0;
}

/* Colors */

.blue {
  color: var(--primary-color);
}

.third-color {
  color: var(--third-color);
}

.white {
  fill: #fff;
}

.underlined {
  text-decoration: underline;
}

.separator {
  width: 25%;
  background-color: #dedede;
  height: 1px;
}

/*  Margins */

.m-10 {
  margin: 10px;
}

/* Margin left-right */

.mx-5 {
  margin: 0 5px;
}

.mx-10 {
  margin: 0 10px;
}

.mx-20 {
  margin: 0 20px;
}

.mx-40 {
  margin: 0 40px;
}



/* Margin right */

.mr-5 {
  margin-right: 5px;
}

.mr-50 {
  margin-right: 50px;
}

/* Margin left */

.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-50 {
  margin-left: 50px;
}



/* Margin top-bottom */

.my-10 {
  margin: 10px 0;
}

.my-20 {
  margin: 20px 0;
}

.my-40 {
  margin: 40px 0;
}

.my-50 {
  margin: 50px 0;
}

.my-70 {
  margin: 70px 0;
}

/* Margin top */

.mt-40 {
  margin-top: 40px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-150 {
  margin-top: 150px;
}

/* Margin bottom */

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-150 {
  margin-bottom: 150px;
}


/* Padding */

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

.p-40 {
  padding: 40px;
}

.p-80 {
  padding: 80px;
}

/* Padding lef-right */

.px-20 {
  padding: 0 20px;
}

/* Padding top-bottom */

.py-40 {
  padding: 30px 0;
}
.py-70 {
  padding: 70px 0;
}

.py-150 {
  padding: 150px 0;
}

/* Generics */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #000;
  background-color: #fff;
  padding-top: 80px;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

/* Headings */

h1 {
  font-size: 5rem;
  font-weight: 800;
  padding: 70px 0;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}



header {
  width: 100%;
  background-color: #fff;
}

/* Navbar */

#navbar {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

#navbar a.hov {
  height: 80px;
  display: inline-block;
  border-bottom: transparent solid 2px;
  display: flex;
  align-items: center;
}

#navbar a.hov:hover {
  border-bottom: rgba(0, 0, 0, 0.7) solid 2px;
}

/* Logo */

#logo {
  height: 26px;
  display: inline-block;
  vertical-align: middle;
  transition: transform 0.2s;
  margin: 28px 0;
}


#logo:hover {
  transform: scale(1.05);
}

.jumbotron {
  max-height: 755px;
  background-color: var(--secondary-color);
}

.fa-arrow-down {
  font-size: 3rem;
}



/* Radio menu */

.radio-btn {
  background-color: #fff;
  width: 25px;
  height: 25px;
  box-shadow: 0px 0px 0px 2.5px #d0d0d0 inset;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.radio-btn.active {
  box-shadow: 0px 0px 0px 6.5px var(--primary-color) inset;
}

.radio-menu p {
  display: inline-block;
}

.radio-buttons {
  cursor: pointer;
}


/* Partners */

#partners img:not(.black) {
  filter: invert(1);
}

.squares {
  height: calc(100vw / 3);
}

.box {
  height: 50%;
  width: 100%;
  box-shadow: inset 0px 0px 0px 15px rgba(0, 0, 0, 0);
  transition: box-shadow 0.2s;
  cursor: pointer;
}

.box:hover {
  box-shadow: inset 0px 0px 0px 15px rgba(255, 255, 255, 0.3);
}

#designit {
  background-color: var(--designit-color);
}

#asu {
  background-color: var(--asu-color);
}

#wbrelief {
  background-color: var(--wbrelief-color);
}

#hearst {
  background-color: var(--secondary-color);
}

#uflorida {
  background-color: var(--uflorida-color);
}

#topps {
  background-color: var(--topps-color);
}

#ccoutdoor {
  background-color: var(--ccoutdoor-color);
}

#lonplanet {
  background-color: var(--lonplanet-color);
}

#wbrelief {
  background-color: var(--wbrelief-color);
}



/* FAQ */

#faq {
  height: 435px;
}

.hidden {
  display: none;
  transition: all 2s;
}

.question {
  cursor: pointer;
}

.question:hover .hidden {
  display: block;
}

.question:hover .fa-angle-down {
  transform: rotate(180deg);
}

/* Footer */

footer {
  background-color: #000;
  color: #fff;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: var(--primary-color);
}

.column {
  flex-direction: column;
}